.App {
    >header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 150px;

        margin-bottom: 50px;
        @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
            margin-top: 50px;
        }
        @media (max-width: 768px)  {
            margin-top: 0px;
            margin-bottom: 20px;
        }
        >h1 {
            font-family: "Dosis";
            font-weight:200;
            font-size: 5rem;
            text-align: center;
            transition: all 200ms ease-in-out;
            letter-spacing: 0.07rem;
            margin-bottom: 0;
            text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
            @media (max-width: 768px) {
                padding-left: 20px;
                padding-right: 20px;
                font-size: 3.5rem;
            }
        }
        >h3{
            margin-bottom: 30px;

        }
        >h1:hover{
            font-weight: 400;
            letter-spacing: normal;
            text-shadow: 0 0 20px rgba(184, 19, 255, 1);
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            >h1 {
                font-weight: 400;
            letter-spacing: normal;
            text-shadow: 0 0 20px rgba(184, 19, 255, 1);
            }
        }
        
    }
    >article{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: max-content;
        @media (max-width: 768px) {
            height: 60vh;
            flex-direction: column;
            overflow: scroll;
            padding-bottom: 20vh;
        }
        >section{
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            width: 20%;
            @media (max-width: 768px) {
                width: 80%;
                margin-bottom: 50px;
            }
            font-size: 10rem;
            >h2 {
                font-size:1.5rem;
            }
        }
        >section:hover{
            cursor: pointer;
        }
        >section:hover .hiddenText{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}
.acc-icon {
    width: 200px;
    height: 200px;
    mask: url('../assets/icons/person.crop.circle.svg') no-repeat center;
    background: white;
    //tablet viewport
    @media  (max-width: 1024px) {
        background: linear-gradient(135deg, rgb(189, 83, 255) 0%, rgb(33, 4, 255) 100%) !important;
    }
}
.App>article>section:hover>.acc-icon{
    background: linear-gradient(135deg, rgb(189, 83, 255) 0%, rgb(33, 4, 255) 100%);
}
.learn-icon {
    width: 200px;
    height: 200px;
    mask: url('../assets/icons/book.pages.svg') no-repeat center;
        background: white;
        @media  (max-width: 1024px) {
        background-color: none;
        background: linear-gradient(135deg, rgb(189, 83, 255) 0%, rgb(33, 4, 255) 100%) !important;
    }
}
.App>article>section:hover>.learn-icon{
    background: linear-gradient(135deg, rgb(189, 83, 255) 0%, rgb(33, 4, 255) 100%);
}
.proj-icon {
    width: 200px;
    height: 200px;
    mask: url('../assets/icons/briefcase.svg') no-repeat center;
    background: white;
    @media  (max-width: 1024px) {
        background-color: none;
        background: linear-gradient(135deg, rgb(189, 83, 255) 0%, rgb(33, 4, 255) 100%) !important;
    }
}
.App>article>section:hover>.proj-icon{
    background: radial-gradient(circle at 100%, rgb(189, 83, 255) 0%, rgb(33, 4, 255) 100%);
}
.hiddenText{
    font-size: 2.2rem;
    background: linear-gradient(135deg, rgb(189, 83, 255) 0%, rgb(33, 4, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transition: 200ms all;
    transform: translateY(20px);
    
}

@media  (max-width: 1024px) {
    .hiddenText{
        opacity: 1;
        transform: translateY(0px);
    }
}

.information-panel {
    width: 100dvw;
    height: 85dvh;
    position: absolute;
    bottom: 0;
    background: linear-gradient(135deg, rgb(189, 83, 255) 0%, rgb(33, 4, 255) 100%);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(33, 4, 255, 0.4);
    transform: translateY(75dvh);
    transition: all 500ms ease-in-out;
}

.panel-title {
    width: 100dvw;
    height: 15dvh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    opacity: 0;
    transition: all 500ms ease-in-out;

    @media (max-width: 768px) {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }
    
    >h2 {
        text-align: center;
        align-self: center;
        @media (max-width: 768px) {
            right: 5px;
            font-size: 2rem;
        }
    }
    >.close-icon{
        width: 40px;
        height: 40px;
        position: absolute;
        right: 80px;
        mask: url('../assets/icons/xmark.svg') no-repeat center;
        background: white;
        cursor: pointer;
        transition: all 200ms;
        @media (max-width: 768px) {
            right: 15px;
        }
    }

    >.close-icon:hover{
        background: linear-gradient(135deg, rgb(189, 83, 255) 0%, rgb(33, 4, 255) 100%);
        transform: rotate(45deg);
    }
}